# Dependencies
node_modules/

# Build output
dist/

# Cache
cache/
.cache/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
*.d.ts
*.d.ts.map
*.js.map

# Vite
src/frontend/dist/

/generated/prisma

coverage

target